.mos-customer-section .mos-section-title {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.mos-customer-section .mos-see-all {
  color: var(--orange-color-2);
  font-size: 1.2rem;
  text-decoration: underline;
}

.mos-customer-section .mos-see-all:hover {
  text-decoration: underline;
}

.mos-review-card {
  border-radius: 10px;
  background: var(--white-color);
  min-height: 160px;  
  transition: all 0.3s ease;
  cursor: pointer;         
  box-shadow: 0 0.5rem 1rem var(--shadow-color-2);
}

.mos-review-card .mos-review-text {
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--muted-text-2);
  text-align: center;
  
}

.mos-review-card:hover p,
.mos-review-card:hover small,
.mos-review-card:hover .mos-review-text {
  text-decoration: underline;
}

.mos-section-title span{ 
text-decoration: underline; 
color: var(--orange-color); 
}