.abd-InfoCatName {
    /* font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem; */
    border-bottom: 1px solid var(--orange-color);
    width: fit-content;
}

.abd-InfoPrice {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
}

.abd-InfoPrice .abd-InfoNewPrice {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--green-color);
    background-color: var(--green-color-light);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.abd-InfoPrice .abd-InfoOldPrice {
    font-size: 1.5rem;
    font-weight: 400;
}

.abd-InfoVerified {
    padding: 0.5rem 1rem;
    color: var(--green-color);
    background-color: var(--green-color-light);
    border-radius: 0.5rem;
}


.abd-InfoDetails .abd-InfoDetailItem {
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.8rem;
}

.abd-InfoDetails .abd-InfoDetailItem .colorBox {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: inline-block;
    border: 0.2rem solid var(--border-color);
}

.abd-InfoAddToCartBtn {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: 2px solid var(--orange-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.abd-InfoAddToCartBtn:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
    /* box-shadow: 0rem 0rem 0.5rem var(--orange-color); */
}