.geh-banner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin: 1rem 10rem;
}

.geh-banner-big {
  grid-column: span 2;
  grid-row: span 2;
}


.geh-banner-small {
  aspect-ratio: 2 / 1;
}

/* الصور نفسها */
.geh-banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

/* hover*/
.geh-banner-item img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* Responsive */
@media (max-width: 992px) {
  .geh-banner-grid {
    grid-template-columns: 1fr 1fr;
    margin: 1rem 3rem;
  }

  .geh-banner-big {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (max-width: 576px) {
  .geh-banner-grid {
    grid-template-columns: 1fr;
    margin: 0.5rem 1rem;
  }

  .geh-banner-big,
  .geh-banner-small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .geh-banner-item img {
    border-radius: 0.3rem;
  }
}
