.abd-Logo {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    font-family: "Merienda", cursive;
    font-weight: bolder;
    position: relative;
}

.abd-Logo .m-char {
    font-family: "Merienda", cursive;
    color: var(--white-color);
    position: relative;
}

.abd-Logo .m-char::before {
    content: "";
    position: absolute;
    background-color: var(--orange-color);
    width: 3.5rem;
    height: 100%;
    clip-path: polygon(0% 20%, 90% 4%, 90% 98%, 0% 75%);
    right: 0;
    top: 0;
    z-index: -1;
}

.abd-LogoIcon {
    margin-right: -0.7rem;
    font-size: 6rem;
    color: var(--blue-color);
}