.mos-category-page {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.mos-search-results-header {
  padding: 12px 16px;
  /* background: white; */
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000000d;
  font-size: 16px;
}

.mos-no-products-message {
  padding: 50px 20px;
}