.button {
    cursor: pointer;
    position: relative;
    padding: 0.7rem 1.5rem;
    font-size: 1.4rem;
    border: 2px solid var(--button-color);
    border-radius: 1rem;
    color: var(--button-color);
    background-color: transparent;
    font-weight: light;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--button-color);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: var(--white-color) !important;
    scale: 1.1;
    box-shadow: 0 0px 20px var(--yellow-color-light);
}

.button:active {
    scale: 1;
}