.abd-BottomNavbar {
    position: fixed;
    font-size: 1.3rem;
    box-shadow: 0px -2px 1rem var(--border-color);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white-color);
    border-top: 0.2rem solid var(--border-color);
    padding: 0.5rem 0;
    display: none;
    transition: all 0.3s ease;
}

.abd-BottomNavbar .nav-link {
    color: var(--muted-text);
    transition: all 0.3s ease;
}

.abd-BottomNavbar .nav-link:hover {
    color: var(--orange-color);
    transition: all 0.3s ease;
}

.abd-BottomNavbar .nav-link.active .bottomNavIcon {
    background-color: var(--yellow-color-light);
    padding: 0.1rem 2rem;
    border-radius: 2rem;
    color: var(--orange-color);
    transition: all 0.3s ease;
}

.abd-BottomCartCounter {
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--orange-color);
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .abd-BottomNavbar {
        display: flex;
        /* justify-content: space-around;
        align-items: center; */
    }
}