.abd-Product-Card {
  width: 30rem;
  /* height: 35rem; */
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color-2);
  overflow: hidden;
  background-color: var(--white-color);
  /* align-self: stretch; */
  position: relative;

}

.abd-Product-Card:hover {
  box-shadow: 0 0.5rem 1rem var(--shadow-color-2);
  transform: translateY(-0.5rem);
  transition: all 0.3s ease;
}

.abd-Product-Card .abd-Product-Type {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem 0 2rem 0;
  font-size: 1.2rem;
}

.abd-Product-Card .abd-Card-Icons {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  /* color: var(--black-color); */
}

.abd-Product-Card .abd-Card-Icon {
  cursor: pointer;
  color: var(--gray-color-light);
  z-index: 10;

  .abd-Icon-Share:hover {
    color: var(--blue-color);
  }

  .abd-Icon-Favorite:hover {
    color: var(--red-color);
  }

  .abd-shareOptions {
    /* display: none; */
    left: -0.6rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;

    .whatsapp-Icon:hover {
      color: #25d366;
    }

    .facebook-Icon:hover {
      color: #3b5998;
    }
  }

}

.abd-Product-Card .abd-Card-Image-Container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3.5rem;
  padding-top: 1rem;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  margin-top: 3.5rem;
}

.abd-Product-Card .abd-Product-Image {
  /* width: 100%; */
  height: 15rem;
  object-fit: cover;
}

.abd-Card-Image-Container:hover .abd-Product-Image {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.abd-Product-Card .abd-Product-Guarantee {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--green-color-light);
  color: var(--green-color);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  border-top: 2px solid var(--green-color);
  transform: translateY(100%);
}


.abd-Card-Image-Container:hover .abd-Product-Guarantee {
  transform: translateY(0);
  transition: all 0.3s ease;
}

.abd-Product-Card .abd-simCount {
  position: absolute;
  left: 1rem;
  bottom: 5rem;
  padding: 0rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 800;
  border: 2px solid var(--black-color);
  border-top-left-radius: 0.7rem;
  box-shadow: -0.3rem -0.3rem 0rem var(--orange-color);
  color: var(--orange-color);
  transform: translateX(-200%);
}

.abd-Card-Image-Container:hover .abd-simCount {
  transform: translateX(0);
  transition: all 0.3s ease;
}

.abd-Card-Image-Container .abd-BatteryStatus {
  position: absolute;
  right: 0rem;
  bottom: 5rem;
  padding: 0.3rem 0.3rem;
  font-size: 1.2rem;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 0.5rem 0 0 0.5rem;
  transform: translateX(200%);
}

.abd-Card-Image-Container:hover .abd-BatteryStatus {
  transform: translateX(0);
  transition: all 0.3s ease;
}

.abd-Card-Details .abd-storeName:hover {
  color: var(--orange-color);

}

.abd-Card-Details .abd-Product-Title {
  /* max 2 lines */
  line-height: 1.4em;
  height: calc(1.4em * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}