.mos-footer {
  font-size: 1.7rem; 
  color: var(--black-color);
}

.mos-footer h6 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.mos-footer a {
  text-decoration: none;
  color: var(--muted-text);
  font-size: 1.4rem;
}

.mos-footer a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--black-color);
}

.mos-footer input {
  border-radius: 0;
  font-size: 1.4rem;
}

.mos-footer .btn {
  border-radius: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.mos-footer .mos-social-icons a {
  color: var(--black-color);
  transition: color 0.3s ease;
  /* background-color: var(--black-color); */
  border-radius: 0.5rem;
}

