.footer {
    background-color: #032541;
    padding-block: 50px;
    margin-top: 30px;
}


.footer .footerLogo {
    background: linear-gradient(90deg, #8FCDA1 20%, #21B9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 35px;
}

.footer span {
    display: inline-block;
    padding-inline: 3px;
}

.footer .Circle {
    /* display: inline-block; */
    height: 25px;
    border-radius: 25px;
    background: linear-gradient(90deg, #8FCDA1, #21B9D6);
}

.footer .Circle.c1 {
    width: 50px;
}

.footer .Circle.c2 {
    width: 25px;
}

.footer .Circle.c3 {
    width: 75px;
}





.footer .footerBox ul {
    margin: 0;
    padding: 0;


    li {
        margin-bottom: 4px;
    }


    li:hover {
        color: #21B9D6;
        cursor: pointer;
    }

}

.footer .footBoxTitle {
    color: #21B9D6;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px !important;
}