.abd-askAiBestItem {
    /* background-color: var(--gray-color-light); */
    background-color: var(--cart-color);
    /* background-color: var(--white-color); */
    border: 1px solid var(--border-color);
    /* box-shadow: 0 0.5rem 1rem var(--shadow-color-2); */
    border-radius: 1rem;
    padding: 2rem 1.5rem;
}

.abd-askAiBestItem-header {

    .abd-askAiBestItem-header-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        /* background-color: #001136;
        color: var(--white-color); */
        border: 2px solid #001136;
        color: #001136;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        width: fit-content;
    }

    h2 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.6rem;
        color: var(--muted-text);
    }

    .abd-askAiBestItem-form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .abd-ai-form-submit {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #001136;
            color: var(--white-color);
            border: none;
            padding: 1rem 3rem;
            font-size: 1.8rem;
            border-radius: 2.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--blue-color);
            }

            &:disabled {
                background-color: var(--gray-color-light);
                cursor: not-allowed;
            }
        }
    }

    .abd-askAiBestItem-form-criteria {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .abd-form-label {
            font-size: 1.4rem;
            background-color: var(--body-bg);
            color: var(--black-color);
            border: 1px solid var(--border-color);
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--blue-color-light);
                border-color: var(--blue-color-2);
                color: var(--blue-color-2);
            }

            &.selected {
                background-color: var(--blue-color-2);
                color: var(--white-color);
                border-color: var(--blue-color-2);
            }
        }

    }
}


/* ======================body============================== */
.abd-askAiBestItem-body {
    margin-top: 3rem;
    /* min-height: 15rem; */
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 2rem 1.5rem;
}