.abd-CartButton {
    background-color: var(--orange-color);
    color: var(--white-color);
    border: 2px solid var(--orange-color);
    padding: 0.75rem 1.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.abd-CartButton:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}