.register-card {
  width: 100%;
  max-width: 450px;
}

.form-check-input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color:var(--orange-color-2) !important;
  border-color:var(--orange-color) !important;
}
.form-check-input:focus {
  box-shadow: none;
  border-color:var(--border-color);
}


.register-card .form-check-label small {
  font-size: 1.15rem;
  color: rgba(0,0,0,0.7);
}


@media (max-width: 576px) {
  .register-card .form-check-label small { font-size: 0.8rem; }
}


.register-card .text-danger {
  font-size: 1.1rem;
  margin-top: 0.25rem;
  display: block;
}

.gehR-password-toggle-icon {
  position: absolute;
  right: 14px;
  top: 38px; 
  cursor: pointer;
  padding-right: 18px;
  color: #777;
  font-size: 1.4rem;
  transition: color 120ms ease;
}