.mos-footer {
  font-size: 1.4rem; 
  color: var(--black-color);
}

.mos-footer h6 {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.mos-footer a {
  text-decoration: none;
  color: var(--muted-text);
  font-size: 1.15rem;
  transition: color 0.3s ease;
}

.mos-footer a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--black-color);
}

.mos-footer ul li {
  margin-bottom: 0.5rem;
}


.mos-footer input {
  border-radius: 0.5rem;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
}

.mos-footer .btn {
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.mos-footer .mos-social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mos-footer .mos-social-icons a {
  color: var(--black-color);
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mos-footer .mos-social-icons a:hover {
  transform: scale(1.3);
  color: #007bff;
}

.mos-footer .mos-social-icon {
  font-size: 3rem;
}

.mos-footer .mos-app-badges {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mos-footer .mos-app-badge {
  width: 100%;
  max-width: 10rem;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mos-footer .mos-app-badge:hover {
  transform: scale(1.15);
}

.mos-footer .mos-copyright {
  font-size: 1.3rem;
}


@media (max-width: 767px) {
  .mos-footer {
    font-size: 1.5rem;
  }
  
  .mos-footer h6 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .mos-footer a {
    font-size: 1.2rem;
  }
  
  .mos-footer input {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
  }
  
  .mos-footer .btn {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }

  .mos-footer .mos-social-icon {
    font-size: 2rem;
  }

  .mos-footer .mos-app-badge {
    max-width: 10rem;
  }
}



