.abd-askAiBestItem-body-recommendation {


    /* =================best-product-box=================  */
    .abd-bestProductBox {
        width: 45rem;
        position: relative;
        background-color: var(--black-color);
        color: var(--white-color);
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        padding: 2rem;
        padding-top: 3rem;


        .abd-bestProductBox-badge {
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--blue-color-2);
            color: var(--white-color);
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            font-size: 1.2rem;
        }

        .abd-bestProductBox-image {
            width: fit-content;
            object-fit: contain;
            padding: 1rem;
            margin-bottom: 1.5rem;
            border: 1px solid #34345ad0;
            border-radius: 1rem;

            img {
                height: 20rem;
                object-fit: contain;
            }
        }

        .abd-bestProductBox-reason {
            font-size: 1.1rem;
            color: var(--muted-text-2);
        }

        .abd-bestProductBox-details {

            .abd-bestDetailContainer {
                /* margin-top: 1.5rem; */
                /* width: 100%; */
                width: 18rem;
                border: 1px solid #34345ad0;
                border-radius: 1rem;
                padding: 1rem 1.5rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 1rem;

                h6 {
                    margin-bottom: 0;
                    font-size: 1.4rem;
                    color: var(--muted-text-2);
                }

                h4 {
                    margin-bottom: 0;
                    font-size: 1.6rem;
                    color: var(--white-color);

                }


            }
        }

        .abd-showBestProdAllDetails {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            margin-top: 1.5rem;
            background-color: var(--body-bg);
            color: var(--blue-color);
            padding: 0.8rem 2rem;
            border-radius: 2rem;
            font-size: 1.4rem;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--blue-color-2);
                color: var(--white-color);
            }
        }
    }

    /* =================analysis-box=================  */
    .abd-analysisBox {
        width: 45rem;
        background-color: var(--black-color);
        color: var(--white-color);
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        padding: 2rem;
        padding-top: 3rem;
        font-size: 1.4rem;

        .abd-analysisBox-header {
            /* color: var(--muted-text-2); */
            margin-bottom: 2rem;
        }

        .abd-analysisBox-body {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .abd-analysisItem {
                position: relative;
                padding-left: 1rem;

                &.best::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 0.3rem;
                    height: 100%;
                    background-color: var(--red-color);
                    border-radius: 0 0.25rem 0.25rem 0;
                    line-height: 1;
                }
            }

            .abd-analysisItem-info {
                color: var(--muted-text-2);
                margin-top: 0.5rem;
                font-size: 1rem;

                .abd-analysisItem-score {
                    font-weight: bold;
                    color: var(--white-color);

                    progress {
                        width: 100%;
                        height: 1rem;
                        appearance: none;

                        &::-webkit-progress-bar {
                            background-color: #34345ad0;
                            border-radius: 0.3rem;
                        }

                        &::-webkit-progress-value {
                            background-color: var(--blue-color-2);
                            border-radius: 0.3rem;
                        }

                        &.best::-webkit-progress-value {
                            background-color: var(--red-color) !important;
                        }
                    }
                }
            }

            .abd-analysisBox-summary {
                border: 1px solid #34345ad0;
                background-color: #34345ad0;
                border-radius: 1rem;
                padding: 1.5rem;

                h5 {
                    font-size: 1.6rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    color: var(--muted-text-2);
                }
            }

        }
    }
}