@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --body-bg: #fcfcfd;
    --container-bg: #f2f2f3;
    --border-color: #e5e7eb;
    /* ------------------- */
    --orange-color: #FE5100;
    --orange-color-2: #D14817;
    --yellow-color: #FFE500;
    --yellow-color-light: #FFF7ED;
    --green-color: #15803D;
    --green-color-light: #E4F2DF;
    --red-color: #dc2626;
    --blue-color: #08308B;
    --blue-color-2: #2563EB;
    --blue-color-light: #E0E7FF;
    /* ------------------------- */
    --black-color: #1F2937;
    --white-color: #FFFFFF;
    /* ------------------------- */
    --text-color: #424045;
    --muted-text: #615d65;
    --cart-color: #f5f5f5;
    --shadow-color: rgba(0, 0, 0, 0.03);




}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {

    background-color: var(--body-bg);
    color: var(--black-color);
    /* overflow-x: hidden; */
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}





@media(max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}