.heb-notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 80vh;
  text-align: center;
}

.heb-notfound-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.heb-notfound-button {
  width: 150px;
  max-width: 50%;
}
